.list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    list-style-type: none;
  }
  
  .item {
    width: 164px;
    height: 110px;
    flex-shrink: 0;
    cursor: pointer;
  }